body{
    font-family: "League Spartan", sans-serif;
}
.navbar{
    background-color: #e7e6e6;
}
.main-menu ul{
    display: flex;
}
.main-menu li{
    position: relative;
}
.main-menu li a{
    position: relative;
    color: #000;
    text-decoration: none;
    display: block;
    padding: 0px 10px;
    margin-right: 20px;
    font-size: 18px;
}
.main-menu li a.active{
    color: #086bfd;
}
.main-menu li a:hover{
    color: #086bfd;
}
.main-menu li a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -25px;
    background-color: #086bfd;
    transition: width 0.5s ease;
}
.main-menu li a:hover::after{
    width: 100%;
}
.main-menu li a.active::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -25px;
    background-color: #086bfd;
    transition: width 0.5s ease;
}
/* DropDown */
.main-menu li ul.dropdown{
    display: none;
    position: absolute;
    width: 200px;
    height: 100px;
    left: 0;
    top: 50px;
    bottom: 0;
    background-color: #fff;
    transition: .3s;
}
.main-menu li ul.dropdown li{
    background-color: #086bfd;
    list-style: none;
    border: none;
    top: 25px;
    display: inline-block;
}
.main-menu li ul.dropdown li a{
    padding: 10px 0 10px 15px;
    display: inline-block;
    color: #fff;
}
.main-menu li:hover ul.dropdown{
    display: block;
}
.header-btn{
    display: inline-block;
    background: #ffff;
    padding: 10px 20px;
    border-radius: 30px;
    position: relative;
    z-index: 1;
}
.header-btn a{
    color: #086bfd;
    text-decoration: none;
    font-weight: bold;
}
.header-btn::before{
    content: "";
    position: absolute;
    width:0% ;
    top: 0;
    height: 100%;
    left: 0;
    background: #086bfd;
    border-radius: 30px;
    color: #fff;
    transition: .5s;
    z-index: -1;
}
.header-btn:hover::before{
    width: 100%;
}
.header-btn a:hover{
    color: #fff;
}

/* Banner */
.banner{
    background-color: #edf6ff;
}
.banner-content{
    padding-top: 90px;
}
.banner-btn{
    background: #086bfd;
    color: #fff;
    padding: 10px 30px;
    border-radius: 30px;
    display: inline-block;
    border: none;
    transition: .5s;
    
}
.banner-btn:hover{
    background: #fff;
    color: #086bfd;
    border: 1px solid #000;
}
.banner-img{
    margin-top: -30px;
    margin-right: -50px;
}
.bn-img{
    border-radius: 50%;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

/* Service */
.service-content h1{
    position: relative;
}
.service-content h1::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background: #086bfd;
    bottom: 200px;
    left: 0;
    right: 0;
    top: 100%;
}

/* Card */
.service-patern{
    background-image: url(assets/service-patern.png);
}
.card{
    background-color: #f9fcff;
}
.card:hover{
    background-color: #5252f0;
    transition: .5s;
}
.card:hover h5{
    color: #fff;
}
.card-body span{
    background: #5252f0;
    color: #fff;
    width: 60px;
    line-height: 60px;
    height: 60px;
    text-align: center;
    padding-top: 5px;
    border-radius: 50px 50px 50px 0;
    display: block;
    position: relative;
    transition: .5s;
}
.card:hover span{
    background-color: #fff;
    transition: .5s;
}
.card-body span i{
    font-size: 25px;
    text-align: center;
}
.card:hover span i{
    color: #5252f0;
}
.card-body p{
    color: #6c6c6a;
    padding: 20px 0;
    transition: .5s;
}
.card-body span::before{
    content: "";
    position: absolute;
    width: 35px;
    height: 2px;
    top: 100%;
    left: 0;
    background: #086bfd;
    margin-top: 10px;
    transition: .5s;
}
.card:hover .card-body span::before{
    background-color: #fff;
    width: 60px;
    height: 2px;
}
.card-body:hover p{
    color: #fff;
}

/* Image-Animation */
.image-animation{
    background-image: url(assets/video-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 250px 0px;
    position: relative;
    z-index: 1;
}
.image-animation::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.637);
    z-index: -1;
}
.image-content{
    position: relative;
}
.image-content h1{
    position: relative;
}
.image-content h1::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #fff;
    bottom: 0;
    left: 490px;
}
.image-content h6{
    padding: 0px 260px;
}
.play-animation-btn{
    width: 60px;
    height: 60px;
    display: inline-block;
    background: #fff;
    font-size: px;
    line-height: 60px;
    color: #5252f0;
    border-radius: 50%;
    left: 500px;
    position: absolute;
}
.play-animation-btn::before{
    content: "";
    height: 60px;
    width: 60px;
    position: absolute;
    top: 0;
    left: 0;
    background: #e73a3e;
    border-radius: 50%;
    animation: playbtn 1.6s ease-out infinite;
}
@keyframes playbtn{
    0%,30%{
        transform: scale(0);
        opacity: 1;
    }
    50%{
        transform: scale(1.5);
        opacity: .7;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}

/* Footer */
.footer{
    background-color: black;
}